/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*--- Reset ---*/
* {
    margin: 0px;
    padding: 0px;
}

/*--- --- ---*/


/*--- Body ---*/
@media screen and (min-width: 800px) {}

@media screen and (max-width: 800px) {}

body {
    background-color: #f9e4d4;
}

.body__grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto auto 45px;
}

/*
@media screen and (min-width: 800px) {
    .body__grid {
        grid-template-rows: auto auto 45px;
    }
}

@media screen and (max-width: 800px) {
    .body__grid {
        grid-template-rows: auto auto 45px;
    }
}
*/



/*--- --- ---*/


/*--- Header ---*/
header {
    grid-area: header;
/*    display: ;*/
}

/*Nav*/
@media screen and (min-width: 800px) {
    nav {
        /*align-items:center;*/
        text-align: center;
        margin: 5px 0px 0px 0px;
    }

    header div {
        display: none;
    }
    .menu__button{
        display: none;
    }
}

@media screen and (max-width: 800px) {

    #menu {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 5vw;
        top: 35vw;
        /*margin: -75px 0 0 -75px;
        list-style: none;
        font-size: 100%;*/
    }

    .menu__button {
        opacity: 0;
        z-index: 9;
    }

    .menu__button {
        width: 100px;
        height: 100px;
        position: absolute;
     /*   left: 50%;
        top: 50%;*/
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        background: #9c0f48;
        background-size: 100%;
        overflow: hidden;
        border: solid 2px black;
    }

    #menu:not(:target)>a:first-of-type,
    #menu:target>a:last-of-type {
        opacity: 1;
        z-index: 10;
    }

    /*¿Esto para que esta?*/
    #menu:not(:target)>.icon__plus:before,
    #menu:target>.icon__minus:before {
        opacity: 1;
        z-index: 10;
    }

    .menu__item {
        width: 30px;
        height: 15px;
        position: absolute;
        /*left: 45%;
        top: 55%;*/
        line-height: 5px;
        margin: -50px 0 0 -50px;
        background-color: #d67d3e;
        border: solid 2px black;
        border-radius: 20px 50% 50% 20px;
        transform: translate(0x, 0px);
        transition: transform 500ms;
        z-index: 9;
        transition: .5s;
    }

    .menu__item:hover {
        opacity: 0.8;
        box-shadow: 0 5px 10px black;
    }

    .nav__icon__actual {
        background-color: #9c0f48;
    }

    .menu__item a {
        color: #f9e4d4;
        position: relative;
        /*top: 35%;
        left: 4%;*/
        font-size: 25px;
        text-decoration: none;
    }

    #menu:target>.menu__item:nth-child(3) {
        transform: translateX(-50px) translateY(-120px);
        transition-delay: 0.3s;
        width: 130px;
    }

    #menu:target>.menu__item:nth-child(4) {
        transform: translateX(-140px) translateY(-60px);
        transition-delay: 0.15s;
        width: 130px;
    }

    #menu:target>.menu__item:nth-child(5) {
        transform: translateX(-180px);
        transition-delay: 0.0s;
        width: 130px;
    }

    #menu:target>.menu__item:nth-child(6) {
        transform: translateX(-140px) translateY(60px);
        transition-delay: 0.15s;
        width: 130px;
    }

    #menu:target>.menu__item:nth-child(7) {
        transform: translateX(-50px) translateY(120px);
        transition-delay: 0.3s;
        width: 130px;
    }
}


nav ul {
    display: flex;
    justify-content: space-evenly;
}

/*Iconos del nav*/
nav ul li {
    font-size: 28px;
    border-style: groove;
    list-style: none;
    border-width: 3px;
    border-color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #d67d3e;
    width: 19%;
    flex-wrap: wrap;
    box-shadow: 0 1rem 1rem grey;
}

nav ul li a {
    color: #f9e4d4;
    text-decoration: none;
}

.nav__icon__actual {
    background-color: #9c0f48;
}


@media screen and (min-width: 800px) {
    h1 {
        color: #9c0f48;
        font-size: 7.2vw;
        text-align: center;
        margin-top: 30px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        color: #9c0f48;
        font-size: 12vw;
        text-align: center;
        margin-top: 20px;
    }
}

/*--- --- ---*/

/*--- Main ---*/
main {
    grid-area: main;
    justify-items: center;
}


@media screen and (min-width: 800px) {
    .acercaDe__section1 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 800px) {
    .acercaDe__section1 {
        margin-top: 50px;
    }
}


@media screen and (min-width: 800px) {
    #video {
        display: block;
        height: 428px;
        width: 50%;
        margin: 0px auto 20px auto;
    }
}

@media screen and (max-width: 800px) {
    #video {
        display: block;
        height: 300px;
        width: 90%;
        margin: 0px auto 20px auto;
    }
}

.index__section1 {
    margin-top: 30px;
}

.acercaDe__section2 {
    margin-top: 30px;
}

@media screen and (min-width: 800px) {
    .index__section1__text {
        width: 70%;
        margin: auto;
        text-indent: 15px;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 100px;

    }
}

@media screen and (max-width: 800px) {
    .index__section1__text {
        width: 90%;
        margin-top: 150px;
        margin-left: 20px;
        text-indent: 15px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;

    }
}

@media screen and (min-width: 800px) {
    .index__section1__img {
        display: block;
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .index__section1__img {
        display: block;
        width: 40vw;
        margin: 0px auto 30px auto;
    }
}

@media screen and (min-width: 800px) {
    .acercaDe__section2__text {
        width: 50%;
        margin-left: 100px;
        display: inline-block;
        text-indent: 15px;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 100px;

    }
}

@media screen and (max-width: 800px) {
    .acercaDe__section2__text {
        width: 90%;
        margin-left: 20px;
        display: inline-block;
        text-indent: 15px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;

    }
}

@media screen and (min-width: 800px) {
    .acercaDe__section2__img {
        display: inline-block;
        width: 25vw;
        margin-left: 50px;
    }
}

@media screen and (max-width: 800px) {
    .acercaDe__section2__img {
        display: block;
        width: 80vw;
        margin: 0px auto 30px auto;
    }
}

/*--- --- ---*/


/*--- Footer ---*/
footer {
    grid-area: footer;
    background-color: #470d21;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer div a {
    text-decoration: none;
    color: #f9e4d4;
    font-size: 20px;

}
/*
.footer__icon {}

footer div {}

.footer__text {}
*/

@media screen and (min-width: 800px) {
    .footer__icons {
        margin-right: 10px;
        margin-left: 35vw;
    }
}

@media screen and (max-width: 800px) {
    .footer__icons {
        margin-right: 10px;
        margin-left: 10vw;
    }
}

/*--- --- ---*/